DB_NAME=lms_db
DB_USER=postgres
DB_PASSWORD=й
DB_HOST=localhost
DB_PORT=5432
STRIPE_SECRET_KEY=sk_test_51TgpW95uXpmiZX0Ig7grdcgcXmBo5XS6HIm8BcyAbnFPU5cAlupjnE5FcsFFSW4cZeK8E04FFzHz8wujzZKTxZhu00gxPWhl4s
STRIPE_PUBLISHABLE_KEY=pk_test_51TgpW95uXpmiZX0Iqi3CNRiXfxiMdZoJXtivB14R9hD2Kurr3cAfuPVKzK9kGpgEaLeYMMRDoHIGY769qs4BfbED00dEEIuqQc
REDIS_HOST=localhost
REDIS_PORT=6379